<div class="col-md-4 col-md-offset-4">
  <h1>Edit Reivew</h1>

 <%= render "form", review: @review %>
</div>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score');
    },
    scoreName: 'review[rating]'
  });
</script>
