<div class="col-md-4 col-md-offset-4">
  <h1>New Reivew</h1>

  <%= render "form", review: @review %>
</div>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>
